<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{@site.url}}">
            <img src="{{asset "assets/LogoHeader.png"}}" alt="feeka-logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            Menu
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{@site.url}}/#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{@site.url}}/#About">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{{@site.url}}/#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{@site.url}}/#Projects">Projects</a>
                </li>
                <li class="nav-item contact">
                    <a class="nav-link" href="{{@site.url}}/#Contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>